 <section class="py-7 py-md-10 bg-light ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card">
          <div class="bg-primary text-center py-4">
            <h2 class="text-white mb-0 h4">List Rental</h2>
          </div>
          <div class="card-body px-7 pt-7 pb-0">
            <form>
              <div class="form-group mb-7">
              <p>
                <strong>Title:</strong>
                <%= @post.title  %>
              </p>
              </div>
              <div class="form-group mb-7">
              <%= image_tag (@post.image) %>
              </div>
              <div class="form-group mb-7">
              <p>
                <strong>Body:</strong>
                <%= @post.body %>
              </p>
              </div>
              <div class="form-group mb-7">
              <p>
                <strong>User:</strong>
                <%= @post.user.username %>
              </p>
              </div>
              <%= link_to 'New rental', new_post_path, class: "btn" %>
              <%= link_to 'Edit', edit_post_path(@post), class: "btn"  %>
              <%= link_to 'Back', posts_path, class: "btn"  %>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>
